body {
    background-color: #f1f2f6;
}

.app {
    padding: 16px;
}

.empty {
    margin: 30px 0;
    text-align: center;
    font-size: 1.5em;
    i {
        color: #ff6600;
    }
}

.header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 16px;
}